<div>
  <h1>Add Recommendation</h1>
  <!--Make a form to display title, artist, genre, link and comment -->
  <form>
    <div class="mb-6">
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Title</label
      >
      <input type="text" id="title" placeholder="Title" required />
    </div>
    <div class="mb-6">
      <label
        for="artist"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Artist</label
      >
      <input type="text" id="artist" placeholder="Artist" required />
    </div>
    <div class="mb-6">
      <label for="genre">Genre</label>
      <input type="text" id="genre" placeholder="Genre" required />
    </div>
    <div class="mb-6">
      <label for="link">Link</label>
      <input type="text" id="link" />
    </div>
    <button type="submit" class="btn-primary">Submit</button>
  </form>
</div>
