<div>
  <h1>Add Recommendation</h1>
  <!--Make a form to display title, artist, genre, link and comment -->
  <form method="POST" action="/add-recommendation">
    <div class="mb-6">
      <label
        for="title"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Title</label
      >
      <input type="text" id="title" name="title" placeholder="Title" />
    </div>
    <div class="mb-6">
      <label
        for="artist"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Artist</label
      >
      <input type="text" id="artist" name="artist" placeholder="Artist" />
    </div>
    <div class="mb-6">
      <label for="genre">Genre</label>
      <input type="text" id="genre" name="genre" placeholder="Genre" />
    </div>
    <div class="mb-6">
      <label for="link">Link</label>
      <input type="text" id="link" />
    </div>
    <div class="mb-6">
      <label for="comment">Comment</label>
      <textarea
        id="comment"
        rows="3"
        name="comment"
        placeholder="Comment"
      ></textarea>
    </div>

    <div class="flex justify-center">
      <button type="submit" class="btn-primary text-sm">
        <i class="fa fa-floppy-disk"></i>
        Save
      </button>
    </div>
  </form>
</div>
