<div class="flex align-baseline justify-evenly bg-[#230846] py-1">
  <a href="/search">
    <div class="flex flex-col p-1 items-center">
      <i class="fa fa-search text-sm"></i>
      <p class="icon-text">Search</p>
    </div>
  </a>
  <a href="/search">
    <div class="flex flex-col p-1 items-center">
      <i class="fa fa-user-group text-sm"></i>
      <p class="icon-text">Friends</p>
    </div>
  </a>
  <a href="/">
    <div class="flex flex-col p-1 items-center">
      <i class="fa fa-music text-sm"></i>
      <p class="icon-text">Songs</p>
    </div>
  </a>
  <a href="/add-recommendation">
    <div class="flex flex-col p-1 items-center">
      <i class="fa fa-plus text-sm"></i>
      <p class="icon-text">Add</p>
    </div>
  </a>
</div>
