<nav class="flex justify-between">
  <h2 class="text-fuchsia-500 tracking-wider font-bold place-self-center">
    rcmndr
  </h2>
  <div>
    <a href="/logout">
      <div class="flex flex-col p-1 items-center">
        <i class="fa fa-right-from-bracket text-sm"></i>
        <p class="icon-text">Logout</p>
      </div>
    </a>
    <!-- <a href="/login"> -->
    <!--   <div class="flex flex-col p-1 items-center"> -->
    <!--     <i class="fa fa-right-to-bracket text-sm"></i> -->
    <!--     <p class="icon-text">Login</p> -->
    <!--   </div> -->
    <!-- </a> -->
  </div>
</nav>
